<%- include("head") -%>
<section class="container-fluid box-container">
  <div class="main-header"> 
    <button class="btn btn-secondary btn-lg" id="move-div">THEY SAY</button>
    <h1 class="greys-grid-header">Get to know about colorful lives</h1>
  </div>

  <div class="box-container">
    <div class="row" id="two-divs-screen">
      <div class="black col-lg-6 col-md-6 ml-auto mr-auto">
        <p class="box-text">LIFE<br> IS NOT</p>
      </div>
      <div class="white col-md-6 ml-auto mr-auto">
        <p class="box-text">BLACK & WHITE</p>
      </div>
    </div>
  </div>
</section> <!--First screen ends-->
<div class="greys-grid-screen">
  <div class="row" id="grey">
    <!--col in the scripts.js file-->
  </div>
  <div class="row three-b">
    <div class='col-lg-4 col-md-4 col-sm6 col-xs-12 ml-auto mr-auto big-button-people'>
      <a href="/posts/5ed594e79087517a174213ce" class="greybutton bach" style="background-color: #7b7b7b;">Bach</a>
    </div>
    <div class='col-lg-4 col-md-4 col-sm6 col-xs-12 ml-auto mr-auto big-button-people'>
      <a href="/posts/5ed594f19087517a174213cf" class="greybutton beethoven" style="background-color: #bdbdbd;">Beethoven</a>
    </div>
    <div class='col-lg-4 col-md-4 col-sm6 col-xs-12 ml-auto mr-auto big-button-people'>
      <a href="/posts/5ed594ff9087517a174213d0" class="greybutton brahms" style="background-color: #838383;">Brahms</a>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="js/grey.js"></script>
<script src="js/person.js"></script>
<script src="js/scripts.js"></script>  





  