<%- include("head") -%>
<section class="container-fluid box-container">
  <div class="main-header"> 
    <button class="btn btn-secondary btn-lg" id="move-div">They say</button>
    <h1>Get to know about colorful lives</h1>
  </div>

  <div class="box-container">
    <div class="row" id="two-divs-screen">
      <div class="black col-lg-6 col-md-6 ml-auto mr-auto">
        <p class="box-text">LIFE<br> IS NOT</p>
      </div>
      <div class="white col-md-6 ml-auto mr-auto">
        <p class="box-text">BLACK & WHITE</p>
      </div>
    </div>
  </div>
</section> <!--First screen ends-->
<div class="greys-grid-screen">
  <div class="row" id="grey">
      
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="js/grey.js"></script>
<script src="js/person.js"></script>
<script src="js/scripts.js"></script>  





  