<%- include("head") -%>
<div class="profile">
  <div class="row">
    <div class="col-md-5 profile-img">
      <img src="/images/<%= title.toLowerCase(); %>.jpg" class="rounded-circle img-fluid" alt="profile"/><br>
      <a href="/profiles/" class="people-link">View People</a>
    </div>
    <div class="col-md-7">
      <h2 class="profile-title"><%= title %></h2>
      <p class="profile-text"><%= content %></p>
    </div>
  </div>
</div>

  


