<%- include("header") -%>
<div class="container-fluid" id="profile-screen" style="background: #fff">
  <div class="row">
    <div class="col-md-6 image-container">
      <img src="">
    </div> 
    <div class="col-md-6 text-container">
      <h1 class="person-name"> <%= title %> </h1>
      <p class="description"> <%= content %> </p>
    </div>
  </div>
</div>

