<%- include("header") -%>
<div class="container" id="profile-screen" style="background: #fff">
  <div class="row">
    <div class="picture col-lg-6">
      <img src="">  
    </div>
    <div class="posts col-lg-6">
      <h1 class="person-name"> <%= title %> </h1>
      <p class="description"> <%= content %> </p>
    </div>
  </div>
</div>

