html, body {
  background-color: #fff;
  margin: 0;
  height: 100%;
  width: 100%;overflow-x: hidden;
}

/*invisible things*/
.greys-invisible, .header-invisible, .boxes-invisible {
  display: none;
}

/* First screen */
section {
  text-align: center;
  padding-top: 10px;
}

.main-header {
  padding: 30px 0;
}

.box-container {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* they say -button */
#move-div {
  box-shadow: 3px 4px 0px 0px #899599;
  background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  color: #000;
  border-radius: 5px;
	border: 1px solid #d6bcd6;
  display: inline-block;
  cursor: pointer;
  text-shadow:0px 1px 0px #e1e2ed;
}

#move-div:hover {
	background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color: #bab1ba;
}

#move-div:active {
	position: relative;
	top: 1px;
}

/*animations*/
.black.moved {
  animation: mymove_1 1s ease;
}

.white.animated {
  animation: myanimation 1s ease;
}

/*text on the boxes in the first screen*/
.box-text {
  text-align: center;
  padding-top: 29%;
  font-size: 2.5rem;
}

/* boxes in the first screen */
.black, .white {
  width: 370px;
  height: 400px;
}

/*black box*/
.black {
  background-color: black;
  color: white;
  letter-spacing: 1.5rem;
  padding-left: 6%;
  padding-top: 1.4%;
  position: relative;
}

/*white box*/
.white {
  background: white;
  letter-spacing: 1.5rem;
  padding-left: 6%;
  padding-top: 1.4%;
  position: relative;
}

/* second page */
.greys-grid-screen {
  position: absolute;
  padding: 3% 15%;
  text-align: center;
}

h1 {
  color: #f40552;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  letter-spacing: 0.25rem;
  padding-top: 1rem;
}

/*grey-grid buttons*/
.greybutton {
	box-shadow: 1px 4px 1px 2px #899599;
	border-radius: 50%;
	border: 1px solid #d6bcd6;
  display: inline-block;
	cursor: pointer;
  color: #f8f3eb;
  font-family: 'Rajdhani', sans-serif;
  font-size: 0.75rem;
  height: 2.5rem;
  padding: 7px 7px;
	text-decoration: none;
  text-shadow:1px 1px 1px #e1e2ed;
  width: 4.4rem;
}

/*links on the buttons*/
.name, .greybutton {
  position: relative;
  text-align: center;
  top: 15%;
}

.greybutton:hover {
	background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
  background-color: #bab1ba;
  color: #19cbd0;
  text-decoration: none;
}

.greybutton:active {
  position: relative;
  text-decoration: none;
	top: 10px;
}

/*profiles page*/
.container h1 {
  color: #f40552;
  margin-bottom: 12px;
}

.card-body {
  background-color: #f8f3eb;
}

.card-title {
  color: #fc7e2f;
  text-align: center;
}

.card-text {
  color: #3f3f44;
  font-size: 1rem;
  padding-top: 1rem;
}

.link {
  color: grey;
}

.card-wrapper {
  padding-bottom: 10px;
}

/*profile page*/
.profile {
  margin-top:-15%;
  padding: 10%;
}

.profile-title {
  color: #ffa500;
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
}

.profile-text {
  color: #333;
  font-size: 1.2rem;
}

.profile .row {
  margin-top: 10%;
}

.profile-img {
  text-align: center;
}

.profile-img img {
  width: 40%;
}

/*compose page*/
.composition {
  padding: 30px;
}

h1.compose {
  color: #17a2b8;
  font-family: 'Montserrat', sans-serif;
  padding-top: 20px;
  padding-left: 30px;
}

/* mobile devices */
@media (max-width: 600px) {
  #two-divs-screen {
    margin-left: -45px;
  }
  .box-container {
    width: 100vw !important;
    margin: auto !important; 
  }
  .main-header {
    width: 300px;
    margin: auto !important;
  }
  .black.moved {
    animation: mymove_2 1s ease;
  }
}

@media (min-width: 700px) {
  .box-text {
    font-size: 1rem !important;
    padding-top: 60%;
  }
}

@media (min-width: 1025px) {
  .box-text {
  padding-top: 29%;
  font-size: 2.5rem !important;
  }
}

/*div move to the right*/
@keyframes mymove_1 {
  from {
     left: 20%;
  }
 
  to {
     left: 50%;
  }
}

/*div moving downwards*/
@keyframes mymove_2 {
  from {
     top: 20%;
  }
 
  to {
     top: 50%;
  }
}

@keyframes myanimation {
  0%{background-color: #fcfcfc}
  1%{background-color: #fafafa}
  2%{background-color: #f7f7f7}
  3%{background-color: #f5f5f5}
  4%{background-color: #f4f4f4}
  5%{background-color: #f3f3f3}
  6%{background-color: #f0f0f0}
  7%{background-color: #e8e8e8}
  8%{background-color: #e3e3e3}  
  9%{background-color: #e0e0e0}
  10%{background-color: #dedede}
  11%{background-color: #dbdbdb}
  12%{background-color: #d9d9d9}
  13%{background-color: #d6d6d6}
  14%{background-color: #d4d4d4}
  15%{background-color: #d1d1d1}
  16%{background-color: #cfcfcf}
  17%{background-color: #c9c9c9}
  18%{background-color: #c7c7c7}
  19%{background-color: #c6c6c6}
  20%{background-color: #c4c4c4}
  21%{background-color: #c2c2c2}
  22%{background-color: #c0c0c0}
  23%{background-color: #bfbfbf}
  24%{background-color: #bdbdbd}
  25%{background-color: #bbbbbb}
  26%{background-color: #bababa}
  27%{background-color: #b8b8b8}
  28%{background-color: #b5b5b5}
  29%{background-color: #ababab}
  30%{background-color: #a8a8a8}
  31%{background-color: #a6a6a6}
  32%{background-color: #a3a3a3}
  33%{background-color: #a1a1a1}
  34%{background-color: #9e9e9e}
  35%{background-color: #9c9c9c}
  36%{background-color: #999999}
  37%{background-color: #969696}
  38%{background-color: #949494}
  39%{background-color: #919191}
  40%{background-color: #8f8f8f}
  41%{background-color: #8c8c8c}
  42%{background-color: #8a8a8a}
  43%{background-color: #878787}
  44%{background-color: #858585}
  45%{background-color: #838383}
  46%{background-color: #828282}
  47%{background-color: #7f7f7f}
  48%{background-color: #7e7e7e}
  49%{background-color: #7d7d7d}
  50%{background-color: #7c7c7c}
  51%{background-color: #7b7b7b}
  52%{background-color: #7a7a7a}
  53%{background-color: #757575}
  54%{background-color: #797979}
  55%{background-color: #737373}
  56%{background-color: #707070}
  57%{background-color: #6e6e6e}
  58%{background-color: #6d6d6d}
  59%{background-color: #6b6b6b}
  60%{background-color: #696969}
  61%{background-color: #686868}
  62%{background-color: #676767}
  63%{background-color: #666666}
  64%{background-color: #656565}
  65%{background-color: #646464}
  66%{background-color: #636363}
  67%{background-color: #626262}
  68%{background-color: #616161}
  69%{background-color: #606060}
  70%{background-color: #5f5f5f}
  71%{background-color: #5e5e5e}
  72%{background-color: #5d5d5d}
  73%{background-color: #5c5c5c}
  74%{background-color: #5b5b5b}
  75%{background-color: #5a5a5a}
  76%{background-color: #595959}
  77%{background-color: #575757}
  78%{background-color: #545454}
  79%{background-color: #535353}
  80%{background-color: #525252}
  81%{background-color: #505050}
  82%{background-color: #4f4f4f}
  83%{background-color: #4e4e4e}
  84%{background-color: #4d4d4d}
  85%{background-color: #4b4b4b}
  86%{background-color: #4a4a4a}
  87%{background-color: #474747}
  88%{background-color: #464646}
  89%{background-color: #454545}
  90%{background-color: #444444}
  91%{background-color: #434343}
  92%{background-color: #424242}
  93%{background-color: #414141}
  94%{background-color: #404040}
  95%{background-color: #3f3f3f}
  96%{background-color: #3e3e3e}
  97%{background-color: #3d3d3d}
  98%{background-color: #3b3b3b}
  99%{background-color: #383838}
  100%{background-color: #383838}
}

